@tailwind base;
@tailwind components;
@tailwind utilities;

article {
    position : relative;
    perspective: 1000px;
    width: 200px;
    height: 200px;
}

article header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 26px;
}

article .front,
article .back {
    position: absolute ;
    top:0;
    left:0;
    right :0;
    bottom: 0;
    text-align: center;
    backface-visibility: hidden;
   
    border-radius: 10px;
   
    padding: 24px;
    transition: 0.6s;
    cursor: pointer;
}

.back {
    transform : rotateY(180deg);
}

.back h3 {
        font-family:Georgia, 'Times New Roman', Times, serif;
}

.input {
    position : absolute;
    scale:0;
}

.input:checked ~ article .back {
    transform: rotateY(0);
}

.input:checked ~ article .front {
    transform: rotateY(-180deg);
}


.inpuut {
    height: 40px;
}
.form-container {
    text-align: center;
   
    
}

.form-step {
    opacity: 0;
    transform: translateX(-100%);
    margin-bottom: 20px;
    transition: opacity 1.4s ease-in, transform 1.4s ease-in;
}

.form-step.active {
    opacity: 1;
    transform: translateX(0);
}

.loader-container {
    position: absolute;
    z-index: 1; /* Asegura que el loader esté encima del formulario */
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.loader {
    
    --d:60px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }


  .textbox {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
   
  }
  
  
  
  .textbox input {
   
    border-bottom: 2px solid #dadfe7;
  text-align: left;
    height: 30px;
    padding-left: 20px ;
  }
  
  :is(input:focus, input:valid) ~ label {
    translate: -40px -40px;
    scale: 0.875;
  }
  

  
  .textbox label {
    position: absolute;
    top: 50%;
    left: 36px;
    translate: 0 -50%;
   
    pointer-events: none;
    transition: 0.4s;
  }
  
  .divs {
    transform: rotate(-180deg);
    animation: rotateIn 1s ease-in-out forwards;
}

@keyframes rotateIn {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0);
    }
}